* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: initial;
    text-decoration: none;
}

a:visited {
    color: initial;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
